@page "/peliculas/crear" 
@inject NavigationManager navigatorManager
<h3>Crear Pelicula</h3>
<button @onclick="Crear"></button>
@code {
    void Crear()
    {
        Console.WriteLine(navigatorManager.BaseUri);
        navigatorManager.NavigateTo("pelicula");
    }
}
