@page "/"
@inject IRepositorio repositorio

@*<p>Hola, @UtilidadesString.Enmayuscular(nombre)</p>

    <p>Vamos a sumar 2 + 2 = @(2 + 2)</p>

    <button @onclick="@ManejarClick">
        Presioname
    </button>*@

<div>
    <h3>Películas</h3>
    <ListadoPeliculas Peliculas="Peliculas">
        @*<Cargando><text>Me paso el dia Cargando...</text></Cargando>
            <NoHayRegistros><span style="color:red">No hay películas</span></NoHayRegistros>*@
    </ListadoPeliculas>
</div>
<div>
    <h3>Crear nueva película</h3>
    <EjemploTextbox placeholder="Nombre película" disabled="true" />
</div>

<button @onclick="AgregarPelicula">Agregar Pelicula</button>

@code {
    string nombre = "Felipe";
    private List<Pelicula> Peliculas;

    protected override void OnInitialized()
    {
        Peliculas = repositorio.ObtenerPeliculas();
    }

    void AgregarPelicula()
    {
        Peliculas.Add(new Pelicula() { Titulo = "Nueva Pelicula", Lanzamiento = DateTime.Today });
    }

    //private List<Pelicula> ObtenerPeliculas()
    //{
    //    return null;
    //    // return
    //}

    //public Pelicula SpiderMan { get { return ObtenerPelicula(); } }

    //private Pelicula ObtenerPelicula()
    //{
    //    return new Pelicula()
    //    {
    //        Titulo = "Spider-Man: Far From Home",
    //        Lanzamiento = new DateTime(2019, 7, 2)
    //    };
    //}

    private void ManejarClick()
    {
        Console.WriteLine("Me han clickeado (desde metodo)!");
    }
}