@page "/"
@*<p>Hola, @UtilidadesString.Enmayuscular(nombre)</p>

    <p>Vamos a sumar 2 + 2 = @(2 + 2)</p>

    <button @onclick="@ManejarClick">
        Presioname
    </button>*@

<div>
    <h3>Películas</h3>    
    <ListadoPeliculas Peliculas="ObtenerPeliculas()">
        @*<Cargando><text>Me paso el dia Cargando...</text></Cargando>
        <NoHayRegistros><span style="color:red">No hay películas</span></NoHayRegistros>*@        
    </ListadoPeliculas>   
</div>
<div>
    <h3>Crear nueva película</h3>
    <EjemploTextbox placeholder="Nombre película" disableb="true"/>
</div>

@code {
    string nombre = "Felipe";

    private List<Pelicula> ObtenerPeliculas()
    {
        //return null;
        return new List<Pelicula>()
        {
                new Pelicula(){Titulo = "<b>Spider-Man</b>: Far From Home", Lanzamiento  = new DateTime(2019, 7, 2)},
                new Pelicula(){Titulo = "<i>Moana</i>", Lanzamiento  = new DateTime(2016, 11, 23)},
                new Pelicula(){Titulo = "Inception", Lanzamiento  = new DateTime(2010, 7, 16)}
            };
    }

    public Pelicula SpiderMan { get { return ObtenerPelicula(); } }

    private Pelicula ObtenerPelicula()
    {
        return new Pelicula()
        {
            Titulo = "Spider-Man: Far From Home",
            Lanzamiento = new DateTime(2019, 7, 2)
        };
    }

    private void ManejarClick()
    {
        Console.WriteLine("Me han clickeado (desde metodo)!");
    }
}